@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
   .body-color{
      background-color: #fcf8f5;
   }
     .text-color{
        color: #230f08;
     }
     .add-to-cart-border-color{
        border-color: #46291f;
     }
     .remove-color{
      border-color: #a89b9e;
     }
     .price-color{
        color: #bc6a4e;
     }
     .center-cart{
        left: 50%;
        transform: translateX(-50%);
     }
     .add-to-cart-bg{
        background-color: #c83b0e;
     }
     .img-border-color{
      border-color: #c83b0e;
     }
     .cart-color{
      color: #b3431a;
     }
     .dirty-brown{
      color: #85645d;
     }
}