@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
   .body-color{
      background-color: #fcf8f5;
   }
     .text-color{
        color: #230f08;
     }
     .add-to-cart-border-color{
        border-color: #46291f;
     }
     .remove-color{
      border-color: #a89b9e;
     }
     .price-color{
        color: #bc6a4e;
     }
     .center-cart{
        left: 50%;
        transform: translateX(-50%);
     }
     .add-to-cart-bg{
        background-color: #c83b0e;
     }
     .img-border-color{
      border-color: #c83b0e;
     }
     .cart-color{
      color: #b3431a;
     }
     .dirty-brown{
      color: #85645d;
     }
     .space{
      line-height: 46px;
      letter-spacing: 0.3px;
     }
     .order-bg{
      background-color: #fcf8f5;
     }
     .lineColor{
      background-color: #230f08;
     }
     .mobile_grid{
      display: grid;
      grid-template-columns: 350px;
     }
     .xsMobileGrid{
      display: grid;
      grid-template-columns: 370px;
     }
     .griD{
       display: grid;
       grid-template-columns: 320px 320px;
     }
     .grId{
      display: grid;
      grid-template-columns: 320px 320px 320px;
     }
     .gRid{
      display: grid;
      grid-template-columns: 230px 230px 230px;
     }
     .tab_grid{
      display: grid;
      grid-template-columns: 230px 230px 230px;
      gap: 20px;
     }
     .mid_grid{
      display: grid;
      grid-template-columns: 250px 250px 250px;
      gap: 20px;
     }
     .center{
      margin-left: 50%;
     }
}